body {
    height: 100vh;
    padding: 0;
}

.full-height {
    height: 100%;
}

h1{
    color: #000000;
    text-align: center;
}

h2{
    color: #190000;
    font-size: 20px;
}

footer{
    margin-top:60px;
}
.form-group{
    margin-bottom: 5px;
}

/* Navigation /////////////////////////////////

/* The side navigation menu */
#openMenu {
    margin-left: 15px;
    font-size: 60px;
    color: black;
    float: left;
    transition: 0.5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#main {
    transition: margin-left .5s;
}

/*login form */
#formLogin{
    margin-top: 35%;
}

/* Navigation  */

/* Welcome  */

.bg-contrast-variant-1 {
    color: #fff;
    background-color: #4f8784;
}

.bg-absolute {
    position: absolute;
    top: 0;
    height: 100%;
}

.bg-absolute-right {
    right: 0;
    left:calc(50% + 200px);
    background: #adcab2;
}

.image-wrap{
    overflow:hidden;
    position:absolute;
}
.image-wrap img{

    height: 80vh;
    width: 90vh;
}
.image-wrap-offset{
    margin-top:30px
}
.image-wrap-right{
    right:0;
    top:59px;
    left:calc(50% - 120px)
}
/*@media(min-width:992px){
    .image-wrap-offset{
        margin-top:0
    }
}
@media(min-width:992px){
    .image-wrap{
        position:absolute;
        top:0;
        height:100%
    }
    .image-wrap img{
        max-width:none;
        height:auto
    }
}
@media(min-width:992px) and (min-width:2051px){
    .image-wrap img{
        width:100%
    }
}
@media(min-width:992px){
    .image-wrap-left{
        left:0;
        right:calc(50% - 1200px/2 - 30px/2 + (1200px/12) * 5.6)
    }
    .image-wrap-left img{
        position:absolute;
        right:0
    }
    .image-wrap-right{
        right:0;
        left:calc(50% - 1200px/2 - 30px/2 + (1200px/12) * 6)
    }
    .image-wrap-right-1{
        right:0;
        left:calc(50% - 1200px/2 - 30px/2 + (1200px/12) * 5.2)
    }
}
*/
/* Welcome  */

/* Admin panel */

.add-new-record{
    float: right;
    margin: 25px;
}