<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Brand</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">About</a>
                <a href="#" class="nav-item nav-link">Products</a>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapseRight">
                <a href="#" class="nav-item nav-link active">Products</a>
            </div>
        </div>
    </nav>
</div>

</body>
</html>