<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <!-- this is header-css -->
    <script type="text/javascript"  src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="../webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../css/main.css" />
    <script src="../js/main.js"></script>
</head>
<body>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/admin/report">Raporty</a>
    <a href="/admin/table">Stoliki</a>
    <a href="/admin/reservation">Rezerwacje</a>
    <a href="/admin/menu">Menu</a>
    <a href="/admin/worker">Pracownicy</a>
    <a th:if="${#request.isUserInRole('ADMIN')}" href="/admin/about">O nas</a>
</div>

<main class="full-height">
    <div class="full-height" id="main">
        <div id="openMenu" onclick="openNav()">☰</div>
        <button type="button" class="btn btn-primary add-new-record" data-toggle="modal" data-target="#addModal">Dodaj nową pozycję do menu</button>
        <div class="table-responsive" th:if="${not #lists.isEmpty(meals)}">
            <table class="table table-hover">
                <thead class="thead-inverse">
                <tr>
                    <th>ID</th>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Gramatura</th>
                    <th>Cena</th>
                    <th>Edytuj</th>
                    <th>Usuń</th>
                </tr>
                </thead>
                <tr th:each="meal : ${meals}">
                    <td th:text="${meal.id}">334</td>
                    <td th:text="${meal.name}">paczek</td>
                    <td th:text="${meal.description}">Opis</td>
                    <td th:text="${meal.weight}">200</td>
                    <td th:text="${meal.price}">200</td>
                    <td><button th:href="@{'/admin/meal/' + ${meal.id}}" class="btn btn-warning edit-meal">Edytuj</button></td>
                    <td><a href="#" th:href="@{'/admin/meal/' + ${meal.id} + '/delete'}">Delete</a></td>
                </tr>
            </table>
        </div>
        <!-- Modal For Edit-->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <form method="post" th:action="@{/admin/meal/update}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edytuj potrawę</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label class="col-form-label">Id:</label>
                                <input type="text" class="form-control" id="IdEdit" readonly="readonly"
                                       required="required" name="id">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Nazwa:</label>
                                <input type="text" class="form-control" id="nameEdit" required="required"
                                       name="name">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Opis:</label>
                                <input type="text" class="form-control" id="descriptionEdit" name="description">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Waga:</label>
                                <input type="number" class="form-control" id="weightEdit"
                                       name="weight">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Cena:</label>
                                <input type="number" class="form-control" id="priceEdit" required="required"
                                       name="price">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                            <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Modal For Add-->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <form method="post" th:action="@{/admin/meal/new}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Dodaj potrawę</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label class="col-form-label">Nazwa:</label>
                                <input type="text" class="form-control" id="nameAdd" required="required"
                                       name="name">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Opis:</label>
                                <input type="text" class="form-control" id="descriptionAdd" name="description">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Waga:</label>
                                <input type="number" class="form-control" id="weightAdd"
                                       name="weight">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Cena:</label>
                                <input type="number" class="form-control" id="priceAdd" required="required"
                                       name="price">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                            <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    </div>
</main>
</body>
</html>