<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <!-- this is header-css -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="../webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../css/main.css"/>
    <script src="../js/main.js"></script>
</head>
<body>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/admin/report">Raporty</a>
    <a href="/admin/table">Stoliki</a>
    <a href="/admin/reservation">Rezerwacje</a>
    <a href="/admin/menu">Menu</a>
    <a href="/admin/worker">Pracownicy</a>
    <form action="/logout" method="POST">
        <a href="#" onclick="this.parentNode.submit()">Wyloguj</a>
    </form>
</div>
<main class="full-height">
    <div class="full-height" id="main">
        <div id="openMenu" onclick="openNav()">☰</div>
        <button type="button" class="btn btn-primary add-new-record" data-toggle="modal" data-target="#addModalWaiter">Dodaj nowego kelnera</button>
        <button type="button" class="btn btn-primary add-new-record" data-toggle="modal" data-target="#addModalManager">Dodaj nowego kierownika</button>
        <button type="button" class="btn btn-primary add-new-record" data-toggle="modal" data-target="#addModalCook">Dodaj nowego kucharza</button>
        <div class="table-responsive" th:if="${not #lists.isEmpty(managers)}">
            <h3 class="font-weight-bold text-dark d-flex justify-content-center mb-4">Dostępni kierownicy</h3>
            <table class="table table-hover">
                <thead class="thead-inverse">
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    <th>Numer zarządzanej sali</th>
                    <th>Edytuj</th>
                    <th>Usuń</th>
                </tr>
                </thead>
                <tr th:each="manager : ${managers}">
                    <td th:text="${manager.firstName}">334</td>
                    <td th:text="${manager.lastName}">3</td>
                    <td th:text="${manager.email}">3</td>
                    <td th:text="${manager.numberOfRestaurantRoom}">3</td>
                    <td><button th:href="@{'/admin/manager/' + ${manager.id}}" class="btn btn-warning edit-manager">Edytuj</button></td>
                    <td><a href="#" th:href="@{'/admin/user/' + ${manager.id} + '/delete'}">Usuń pracownika</a></td>
                </tr>
            </table>
        </div>

        <div class="table-responsive" th:if="${not #lists.isEmpty(cooks)}">
            <h3 class="font-weight-bold text-dark d-flex justify-content-center mb-4">Dostępni kucharze</h3>
            <table class="table table-hover">
                <thead class="thead-inverse">
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    <th>Numer zarządzanej kuchni</th>
                    <th>Edytuj</th>
                    <th>Usuń</th>
                </tr>
                </thead>
                <tr th:each="cook : ${cooks}">
                    <td th:text="${cook.firstName}">334</td>
                    <td th:text="${cook.lastName}">3</td>
                    <td th:text="${cook.email}">3</td>
                    <td th:text="${cook.numberOfKitchen}">3</td>
                    <td><button th:href="@{'/admin/cook/' + ${cook.id}}" class="btn btn-warning edit-cook">Edytuj</button></td>
                    <td><a href="#" th:href="@{'/admin/user/' + ${cook.id} + '/delete'}">Usuń kucharza</a></td>
                </tr>
            </table>
        </div>

        <div class="table-responsive" th:if="${not #lists.isEmpty(waiters)}">
            <h3 class="font-weight-bold text-dark d-flex justify-content-center mb-4">Dostępni kelnerzy</h3>
            <table class="table table-hover">
                <thead class="thead-inverse">
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    <th>Edytuj</th>
                    <th>Usuń</th>
                </tr>
                </thead>
                <tr th:each="waiter : ${waiters}">
                    <td th:text="${waiter.firstName}">334</td>
                    <td th:text="${waiter.lastName}">3</td>
                    <td th:text="${waiter.email}">3</td>
                    <td><button th:href="@{'/admin/waiter/' + ${waiter.id}}" class="btn btn-warning edit-waiter">Edytuj</button></td>
                    <td><a href="#" th:href="@{'/admin/user/' + ${waiter.id} + '/delete'}">Usuń pracownika</a></td>
                </tr>
            </table>
        </div>

        <!-- Modal For Add Waiter-->
        <div class="modal fade" id="addModalWaiter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <form method="post" th:action="@{/admin/waiter/registration}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Dodaj kelnera</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label class="col-form-label">Imie*:</label>
                                <input type="text" class="form-control" id="nameAdd" required="required"
                                       name="firstName">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Nazwisko*:</label>
                                <input type="text" class="form-control" id="lastNameAdd" required="required"
                                       name="lastName">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Email*:</label>
                                <input type="email" class="form-control" id="emailAdd" required="required"
                                       name="email">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Hasło*:</label>
                                <input type="password" class="form-control" id="passwordAdd" required="required"
                                       name="password">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Powtórz hasło*:</label>
                                <input type="password" class="form-control" id="matchPasswordAdd" required="required" name="passwordConfirm">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Pensja netto*:</label>
                                <input type="number" class="form-control" id="salaryAdd" required="required"
                                       name="salary">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Numer konta*:</label>
                                <input type="text" class="form-control" id="accountNumberAdd" required="required"
                                       name="accountNumber">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Procent napiwków:</label>
                                <input type="number" class="form-control" id="percentageOfTipsAdd"
                                       name="percentageOfTips">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                            <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Modal For Add Cook-->
        <div class="modal fade" id="addModalCook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <form method="post" th:action="@{/admin/cook/registration}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Dodaj Kucharza</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label class="col-form-label">Imie*:</label>
                                <input type="text" class="form-control" id="cookNameAdd" required="required"
                                       name="firstName">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Nazwisko*:</label>
                                <input type="text" class="form-control" id="cookLastNameAdd" required="required"
                                       name="lastName">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Email*:</label>
                                <input type="email" class="form-control" id="cookEmailAdd" required="required"
                                       name="email">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Hasło*:</label>
                                <input type="password" class="form-control" id="cookPasswordAdd" required="required"
                                       name="password">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Powtórz hasło*:</label>
                                <input type="password" class="form-control" id="cookMatchPasswordAdd" required="required" name="passwordConfirm">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Pensja netto*:</label>
                                <input type="number" class="form-control" id="cookSalaryAdd" required="required"
                                       name="salary">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Numer konta*:</label>
                                <input type="text" class="form-control" id="cookAccountNumberAdd" required="required"
                                       name="accountNumber">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Numer kuchni:</label>
                                <input type="number" class="form-control" id="cookNumberOfKitchen"
                                       name="numberOfKitchen">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                            <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Modal For Add Manager-->
        <div class="modal fade" id="addModalManager" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <form method="post" th:action="@{/admin/manager/registration}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Dodaj Kierownika</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label class="col-form-label">Imie*:</label>
                                <input type="text" class="form-control" id="managerNameAdd" required="required"
                                       name="firstName">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Nazwisko*:</label>
                                <input type="text" class="form-control" id="managerLastNameAdd" required="required"
                                       name="lastName">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Email*:</label>
                                <input type="email" class="form-control" id="managerEmailAdd" required="required"
                                       name="email">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Hasło*:</label>
                                <input type="password" class="form-control" id="managerPasswordAdd" required="required"
                                       name="password">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Powtórz hasło*:</label>
                                <input type="password" class="form-control" id="managerMatchPasswordAdd" required="required" name="passwordConfirm">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Pensja netto*:</label>
                                <input type="number" class="form-control" id="managerSalaryAdd" required="required"
                                       name="salary">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Numer konta*:</label>
                                <input type="text" class="form-control" id="managerAccountNumberAdd" required="required"
                                       name="accountNumber">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Numer kuchni:</label>
                                <input type="number" class="form-control" id="managerNumberOfRestaurantRoom"
                                       name="numberOfRestaurantRoom">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                            <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    </div>
</main>
</body>
</html>